version: '3'
services:

  zipkin:
    image: jaeger
    ports:
    - "9411:9411"
    networks:
    - news_aggregator_network

  fluentd:
    image: ${USERNAME}/fluentd
    ports:
    - "24224:24224"
    - "24224:24224/udp"

  elasticsearch:
    image: elasticsearch:6.8.0
    expose:
    - 9200
    ports:
    - "9200:9200"

  kibana:
    image: kibana:6.8.0
    ports:
    - "5601:5601"

networks:
  news_aggregator_network:
